---
:development: &defaults
  :adapter: postgresql
  :database: rdie_dev
  :username: deploy
  :password: waterlol
  :host: localhost

:test:
  <<: *defaults
  :database: rdie_test

:production:
  <<: *defaults
  :database: rdie